@import '_variables.scss';

.player{
    @for $i from 12 through 19{

        &#player#{$i}{
            top:690px;
            left:calc(500px - (#{$i} - 11) * 60px);
        }

    }
    @for $i from 31 through 38{

        &#player#{$i}{
            top:15px;
            left:calc(430px + (#{$i} - 30) * 60px);
        }

    }
}

.player.four231A{
    &#player1{
        top:$agk-t ;
        left:$agk-l ;
    }
    &#player2{
        top:$alcb-t ;
        left:$alcb-l ;
    }
    &#player3{
        top:$arcb-t ;
        left:$arcb-l ;
    }
    &#player4{
        top:$alsb-t ;
        left:$alsb-l ;
    }
    &#player5{
        top:$arsb-t ;
        left:$arsb-l ;
    }
    &#player6{
        top:$alch-t ;
        left:$alch-l ;
    }
    &#player7{
        top:$arch-t ;
        left:$arch-l ;
    }
    &#player8{
        top:$alsh-t ;
        left:$alsh-l ;
    }
    &#player9{
        top:$arsh-t ;
        left:$arsh-l ;
    }
    &#player10{
        top:$aomf-t ;
        left:$aomf-l ;
    }
    &#player11{
        top:$acf-t ;
        left:$acf-l ;
    }
}

.player.four42A{
    &#player1{
        top:$agk-t ;
        left:$agk-l ;
    }
    &#player2{
        top:$alcb-t ;
        left:$alcb-l ;
    }
    &#player3{
        top:$arcb-t ;
        left:$arcb-l ;
    }
    &#player4{
        top:$alsb-t ;
        left:$alsb-l ;
    }
    &#player5{
        top:$arsb-t ;
        left:$arsb-l ;
    }
    &#player6{
        top:$alch-t ;
        left:$alch-l ;
    }
    &#player7{
        top:$arch-t ;
        left:$arch-l ;
    }
    &#player8{
        top:$alsh-t ;
        left:$alsh-l ;
    }
    &#player9{
        top:$arsh-t ;
        left:$arsh-l ;
    }
    &#player10{
        top:$alf-t ;
        left:$alf-l ;
    }
    &#player11{
        top:$arf-t ;
        left:$arf-l ;
    }
}

.player.four33A{
    &#player1{
        top:$agk-t ;
        left:$agk-l ;
    }
    &#player2{
        top:$alcb-t ;
        left:$alcb-l ;
    }
    &#player3{
        top:$arcb-t ;
        left:$arcb-l ;
    }
    &#player4{
        top:$alsb-t ;
        left:$alsb-l ;
    }
    &#player5{
        top:$arsb-t ;
        left:$arsb-l ;
    }
    &#player6{
        top:$aank-t ;
        left:$aank-l ;
    }
    &#player7{
        top:$arih-t ;
        left:$arih-l ;
    }
    &#player8{
        top:$alih-t ;
        left:$alih-l ;
    }
    &#player9{
        top:$arw-t ;
        left:$arw-l ;
    }
    &#player10{
        top:$alw-t ;
        left:$alw-l ;
    }
    &#player11{
        top:$acf-t ;
        left:$acf-l ;
    }
}

.player.three43A{
    &#player1{
        top:$agk-t ;
        left:$agk-l ;
    }
    &#player2{
        top:$acb-t ;
        left:$acb-l ;
    }
    &#player3{
        top:$arcb-t ;
        left:$arcb-l ;
    }
    &#player4{
        top:$alcb-t ;
        left:$alcb-l ;
    }
    &#player5{
        top:$arwb-t ;
        left:$arwb-l ;
    }
    &#player6{
        top:$alwb-t ;
        left:$alwb-l ;
    }
    &#player7{
        top:$arch-t ;
        left:$arch-l ;
    }
    &#player8{
        top:$alch-t ;
        left:$alch-l ;
    }
    &#player9{
        top:$arst-t ;
        left:$arst-l ;
    }
    &#player10{
        top:$alst-t ;
        left:$alst-l ;
    }
    &#player11{
        top:$acf-t ;
        left:$acf-l ;
    }
    
}

.player.three52A{
    &#player1{
        top:$agk-t ;
        left:$agk-l ;
    }
    &#player2{
        top:$acb-t ;
        left:$acb-l ;
    }
    &#player3{
        top:$arcb-t ;
        left:$arcb-l ;
    }
    &#player4{
        top:$alcb-t ;
        left:$alcb-l ;
    }
    &#player5{
        top:$arwb-t ;
        left:$arwb-l ;
    }
    &#player6{
        top:$alwb-t ;
        left:$alwb-l ;
    }
    &#player7{
        top:$arch-t ;
        left:$arch-l ;
    }
    &#player8{
        top:$alch-t ;
        left:$alch-l ;
    }
    &#player9{
        top:$aomf-t ;
        left:$aomf-l ;
    }
    &#player10{
        top:$alf-t ;
        left:$alf-l ;
    }
    &#player11{
        top:$arf-t ;
        left:$arf-l ;
    }
    
}

.player.five32A{
    &#player1{
        top:$agk-t ;
        left:$agk-l ;
    }
    &#player2{
        top:$acb-t ;
        left:$acb-l ;
    }
    &#player3{
        top:$arcb-t ;
        left:$arcb-l ;
    }
    &#player4{
        top:$alcb-t ;
        left:$alcb-l ;
    }
    &#player5{
        top:$arsb-t ;
        left:$arsb-l ;
    }
    &#player6{
        top:$alsb-t ;
        left:$alsb-l ;
    }
    &#player7{
        top:$aank-t ;
        left:$aank-l ;
    }
    &#player8{
        top:$alih-t ;
        left:$alih-l ;
    }
    &#player9{
        top:$arih-t ;
        left:$arih-l ;
    }
    &#player10{
        top:$alf-t ;
        left:$alf-l ;
    }
    &#player11{
        top:$arf-t ;
        left:$arf-l ;
    }
    
}

.player.five41A{
    &#player1{
        top:$agk-t ;
        left:$agk-l ;
    }
    &#player2{
        top:$acb-t ;
        left:$acb-l ;
    }
    &#player3{
        top:$arcb-t ;
        left:$arcb-l ;
    }
    &#player4{
        top:$alcb-t ;
        left:$alcb-l ;
    }
    &#player5{
        top:$arsb-t ;
        left:$arsb-l ;
    }
    &#player6{
        top:$alsb-t ;
        left:$alsb-l ;
    }
    &#player7{
        top:$alch-t ;
        left:$alch-l ;
    }
    &#player8{
        top:$arch-t ;
        left:$arch-l ;
    }
    &#player9{
        top:$arwb-t ;
        left:$arwb-l ;
    }
    &#player10{
        top:$alwb-t ;
        left:$alwb-l ;
    }
    &#player11{
        top:$acf-t ;
        left:$acf-l ;
    }
    
}

.player.four231B{
    &#player1{
        top:$bgk-t ;
        left:$bgk-l ;
    }
    &#player2{
        top:$blcb-t ;
        left:$blcb-l ;
    }
    &#player3{
        top:$brcb-t ;
        left:$brcb-l ;
    }
    &#player4{
        top:$blsb-t ;
        left:$blsb-l ;
    }
    &#player5{
        top:$brsb-t ;
        left:$brsb-l ;
    }
    &#player6{
        top:$blch-t ;
        left:$blch-l ;
    }
    &#player7{
        top:$brch-t ;
        left:$brch-l ;
    }
    &#player8{
        top:$blsh-t ;
        left:$blsh-l ;
    }
    &#player9{
        top:$brsh-t ;
        left:$brsh-l ;
    }
    &#player10{
        top:$bomf-t ;
        left:$bomf-l ;
    }
    &#player11{
        top:$bcf-t ;
        left:$bcf-l ;
    }
}

.player.four42B{
    &#player1{
        top:$bgk-t ;
        left:$bgk-l ;
    }
    &#player2{
        top:$blcb-t ;
        left:$blcb-l ;
    }
    &#player3{
        top:$brcb-t ;
        left:$brcb-l ;
    }
    &#player4{
        top:$blsb-t ;
        left:$blsb-l ;
    }
    &#player5{
        top:$brsb-t ;
        left:$brsb-l ;
    }
    &#player6{
        top:$blch-t ;
        left:$blch-l ;
    }
    &#player7{
        top:$brch-t ;
        left:$brch-l ;
    }
    &#player8{
        top:$blsh-t ;
        left:$blsh-l ;
    }
    &#player9{
        top:$brsh-t ;
        left:$brsh-l ;
    }
    &#player10{
        top:$blf-t ;
        left:$blf-l ;
    }
    &#player11{
        top:$brf-t ;
        left:$brf-l ;
    }
}

.player.four33B{
    &#player1{
        top:$bgk-t ;
        left:$bgk-l ;
    }
    &#player2{
        top:$blcb-t ;
        left:$blcb-l ;
    }
    &#player3{
        top:$brcb-t ;
        left:$brcb-l ;
    }
    &#player4{
        top:$blsb-t ;
        left:$blsb-l ;
    }
    &#player5{
        top:$brsb-t ;
        left:$brsb-l ;
    }
    &#player6{
        top:$bank-t ;
        left:$bank-l ;
    }
    &#player7{
        top:$brih-t ;
        left:$brih-l ;
    }
    &#player8{
        top:$blih-t ;
        left:$blih-l ;
    }
    &#player9{
        top:$brw-t ;
        left:$brw-l ;
    }
    &#player10{
        top:$blw-t ;
        left:$blw-l ;
    }
    &#player11{
        top:$bcf-t ;
        left:$bcf-l ;
    }
}

.player.three43B{
    &#player1{
        top:$bgk-t ;
        left:$bgk-l ;
    }
    &#player2{
        top:$bcb-t ;
        left:$bcb-l ;
    }
    &#player3{
        top:$brcb-t ;
        left:$brcb-l ;
    }
    &#player4{
        top:$blcb-t ;
        left:$blcb-l ;
    }
    &#player5{
        top:$brwb-t ;
        left:$brwb-l ;
    }
    &#player6{
        top:$blwb-t ;
        left:$blwb-l ;
    }
    &#player7{
        top:$brch-t ;
        left:$brch-l ;
    }
    &#player8{
        top:$blch-t ;
        left:$blch-l ;
    }
    &#player9{
        top:$brst-t ;
        left:$brst-l ;
    }
    &#player10{
        top:$blst-t ;
        left:$blst-l ;
    }
    &#player11{
        top:$bcf-t ;
        left:$bcf-l ;
    }
    
}

.player.three52B{
    &#player1{
        top:$bgk-t ;
        left:$bgk-l ;
    }
    &#player2{
        top:$bcb-t ;
        left:$bcb-l ;
    }
    &#player3{
        top:$brcb-t ;
        left:$brcb-l ;
    }
    &#player4{
        top:$blcb-t ;
        left:$blcb-l ;
    }
    &#player5{
        top:$brwb-t ;
        left:$brwb-l ;
    }
    &#player6{
        top:$blwb-t ;
        left:$blwb-l ;
    }
    &#player7{
        top:$brch-t ;
        left:$brch-l ;
    }
    &#player8{
        top:$blch-t ;
        left:$blch-l ;
    }
    &#player9{
        top:$bomf-t ;
        left:$bomf-l ;
    }
    &#player10{
        top:$blf-t ;
        left:$blf-l ;
    }
    &#player11{
        top:$brf-t ;
        left:$brf-l ;
    }
    
}

.player.five32B{
    &#player1{
        top:$bgk-t ;
        left:$bgk-l ;
    }
    &#player2{
        top:$bcb-t ;
        left:$bcb-l ;
    }
    &#player3{
        top:$brcb-t ;
        left:$brcb-l ;
    }
    &#player4{
        top:$blcb-t ;
        left:$blcb-l ;
    }
    &#player5{
        top:$brsb-t ;
        left:$brsb-l ;
    }
    &#player6{
        top:$blsb-t ;
        left:$blsb-l ;
    }
    &#player7{
        top:$bank-t ;
        left:$bank-l ;
    }
    &#player8{
        top:$blih-t ;
        left:$blih-l ;
    }
    &#player9{
        top:$brih-t ;
        left:$brih-l ;
    }
    &#player10{
        top:$blf-t ;
        left:$blf-l ;
    }
    &#player11{
        top:$brf-t ;
        left:$brf-l ;
    }
    
}

.player.five41B{
    &#player1{
        top:$bgk-t ;
        left:$bgk-l ;
    }
    &#player2{
        top:$bcb-t ;
        left:$bcb-l ;
    }
    &#player3{
        top:$brcb-t ;
        left:$brcb-l ;
    }
    &#player4{
        top:$blcb-t ;
        left:$blcb-l ;
    }
    &#player5{
        top:$brsb-t ;
        left:$brsb-l ;
    }
    &#player6{
        top:$blsb-t ;
        left:$blsb-l ;
    }
    &#player7{
        top:$blch-t ;
        left:$blch-l ;
    }
    &#player8{
        top:$brch-t ;
        left:$brch-l ;
    }
    &#player9{
        top:$brwb-t ;
        left:$brwb-l ;
    }
    &#player10{
        top:$blwb-t ;
        left:$blwb-l ;
    }
    &#player11{
        top:$bcf-t ;
        left:$bcf-l ;
    }
    
}