$gk-t:46.6%;
$gk-l:5%;

$cb-t:46.6%;
$cb-l:18%;

$lcb-t:30.6%;
$lcb-l:18%;

$rcb-t:62%;
$rcb-l:18%;

$lsb-t:13.3%;
$lsb-l:21%;

$rsb-t:78.6%;
$rsb-l:21%;

$lwb-t:100px;
$lwb-l:500px;

$rwb-t:590px;
$rwb-l:500px;

$lch-t:295px;
$lch-l:330px;

$rch-t:415px;
$rch-l:330px;

$lsh-t:175px;
$lsh-l:620px;

$rsh-t:525px;
$rsh-l:620px;

$omf-t:46.6%;
$omf-l:620px;

$lst-t:260px;
$lst-l:655px;

$rst-t:445px;
$rst-l:655px;

$cf-t:46.6%;
$cf-l:750px;