@import '_variables.scss';

.player{
    @for $i from 12 through 19{

        &#player#{$i}{
            top:690px;
            left:calc(500px - (#{$i} - 11) * 60px);
        }

    }
    @for $i from 31 through 38{

        &#player#{$i}{
            top:15px;
            left:calc(430px + (#{$i} - 30) * 60px);
        }

    }
}

.player.formA{
    &#player1{
        top:$gk-t !important;
        left:$gk-l !important;
    }
    &#player2{
        top:$lcb-t !important;
        left:$lcb-l !important;
    }
    &#player3{
        top:$rcb-t !important;
        left:$rcb-l !important;
    }
    &#player4{
        top:$lsb-t !important;
        left:$lsb-l !important;
    }
    &#player5{
        top:$rsb-t !important;
        left:$rsb-l !important;
    }
    &#player6{
        top:$lch-t !important;
        left:$lch-l !important;
    }
    &#player7{
        top:$rch-t !important;
        left:$rch-l !important;
    }
    &#player8{
        top:$lsh-t !important;
        left:$lsh-l !important;
    }
    &#player9{
        top:$rsh-t !important;
        left:$rsh-l !important;
    }
    &#player10{
        top:$omf-t !important;
        left:$omf-l !important;
    }
    &#player11{
        top:$cf-t !important;
        left:$cf-l !important;
    }
}

.player.formB{
    &#player1{
        top:$gk-t !important;
        left:$gk-l !important;
    }
    &#player2{
        top:$cb-t !important;
        left:$cb-l !important;
    }
    &#player3{
        top:$rcb-t !important;
        left:$rcb-l !important;
    }
    &#player4{
        top:$lcb-t !important;
        left:$lcb-l !important;
    }
    &#player5{
        top:$rwb-t !important;
        left:$rwb-l !important;
    }
    &#player6{
        top:$lwb-t !important;
        left:$lwb-l !important;
    }
    &#player7{
        top:$rch-t !important;
        left:$rch-l !important;
    }
    &#player8{
        top:$lch-t !important;
        left:$lch-l !important;
    }
    &#player9{
        top:$rst-t !important;
        left:$rst-l !important;
    }
    &#player10{
        top:$lst-t !important;
        left:$lst-l !important;
    }
    &#player11{
        top:$cf-t !important;
        left:$cf-l !important;
    }
    
}