$gk-t:790px;
$gk-l:320px;

$lcb-t:615px;
$lcb-l:250px;

$rcb-t:615px;
$rcb-l:390px;

$lsb-t:560px;
$lsb-l:100px;

$rsb-t:560px;
$rsb-l:540px;

$lch-t:470px;
$lch-l:250px;

$rch-t:470px;
$rch-l:390px;

$lsh-t:300px;
$lsh-l:100px;

$rsh-t:300px;
$rsh-l:540px;

$omf-t:300px;
$omf-l:320px;

$cf-t:200px;
$cf-l:320px;