@import 'css/formation';
@import 'css/pulldown.scss';

#container{
    display:flex;
}

.config{
    padding:5px;
    background-color: gray;
}

.field{
    position:relative;
    background-image: url(image/fieldImage.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width:1000px;
    height: 750px;
    margin:0 auto;
    border:none;
    z-index: 100;
}


    .player{
        position: absolute;
        width: 60px;
        display: flex;
        flex-direction: column;

        &__icon{
            height: 30px;
            width: 30px;
            border: 1px solid black;
            border-radius: 50% 50%;
            margin: auto;
            // pointer-events: none;

            &.mouseDowned{
                z-index: 1000;
                color:gray;
                box-shadow: 0 0 2px 2px gray inset;
            }
        }

        &__name{
            width: 60px;
            text-align: center;
            background-color:transparent;
            font-size: x-small;
        }


        // formの表示と非表示をclickイベントで操作
        &__name--set{
            display:flex;
            flex-direction: column;
            position: absolute;
            width:200px;
            height:100px;
            top:50%;
            z-index: 1000;
            background-color: black;
            justify-content: center;
            align-items: center;
            margin:0;
            border: 1px solid white;

        }

        &__name--input{
            width: 90%;
            text-align: center;
            background-color: white;
            margin-bottom: 5px;
        }

        &__name--button{
            width:93%;
        }

    }
@for $i from 1 through 38 {
    #player#{$i}{

        @if $i <= 19 {
            & > .player__icon{
                background-color:hotpink;
            }
        } @else{
            & > .player__icon{
                background-color:purple;
            }
        }
    }
}