.field{
    position:relative;
    width:400px;
    height: 500px;
    margin:50px auto;
    border:1px solid black;
    z-index: 100;
}

.player{
    position: absolute;
    width: 60px;
    display: flex;
    flex-direction: column;

    &__icon{
        height: 30px;
        width: 30px;
        border: 1px solid black;
        border-radius: 50% 50%;
        margin: auto;
        // pointer-events: none;

        &.mouseDowned{
            z-index: 1000;
            color:gray;
            box-shadow: 0 0 2px 2px gray inset;
        }
    }

    &__name{
        width: 60px;
        text-align: center;
        background-color: transparent;
        font-size: x-small;
    }


    // formの表示と非表示をclickイベントで操作
    &__name--set{
        position: absolute;
        display: none;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        z-index: 1000;
        background-color: gray;
        &.inview{
            display:block;
        }

    }

    &__name--input{
        width: 60px;
        text-align: center;
        background-color: transparent;
    }

}
