.player#player12 {
  top: 90%;
  left: calc(500px - (12 - 11) * 60px);
}

.player#player13 {
  top: 90%;
  left: calc(500px - (13 - 11) * 60px);
}

.player#player14 {
  top: 90%;
  left: calc(500px - (14 - 11) * 60px);
}

.player#player15 {
  top: 90%;
  left: calc(500px - (15 - 11) * 60px);
}

.player#player16 {
  top: 90%;
  left: calc(500px - (16 - 11) * 60px);
}

.player#player17 {
  top: 90%;
  left: calc(500px - (17 - 11) * 60px);
}

.player#player18 {
  top: 90%;
  left: calc(500px - (18 - 11) * 60px);
}

.player#player19 {
  top: 90%;
  left: calc(500px - (19 - 11) * 60px);
}

.player#player31 {
  top: 3%;
  left: calc(430px + (31 - 30) * 60px);
}

.player#player32 {
  top: 3%;
  left: calc(430px + (32 - 30) * 60px);
}

.player#player33 {
  top: 3%;
  left: calc(430px + (33 - 30) * 60px);
}

.player#player34 {
  top: 3%;
  left: calc(430px + (34 - 30) * 60px);
}

.player#player35 {
  top: 3%;
  left: calc(430px + (35 - 30) * 60px);
}

.player#player36 {
  top: 3%;
  left: calc(430px + (36 - 30) * 60px);
}

.player#player37 {
  top: 3%;
  left: calc(430px + (37 - 30) * 60px);
}

.player#player38 {
  top: 3%;
  left: calc(430px + (38 - 30) * 60px);
}

.player.four231A#player1 {
  top: 47.3%;
  left: 5%;
}

.player.four231A#player2 {
  top: 30.6%;
  left: 18%;
}

.player.four231A#player3 {
  top: 62%;
  left: 18%;
}

.player.four231A#player4 {
  top: 13.3%;
  left: 21%;
}

.player.four231A#player5 {
  top: 78.6%;
  left: 21%;
}

.player.four231A#player6 {
  top: 40%;
  left: 33%;
}

.player.four231A#player7 {
  top: 55.3%;
  left: 33%;
}

.player.four231A#player8 {
  top: 13.3%;
  left: 62%;
}

.player.four231A#player9 {
  top: 78.6%;
  left: 62%;
}

.player.four231A#player10 {
  top: 47.3%;
  left: 62%;
}

.player.four231A#player11 {
  top: 47.3%;
  left: 75%;
}

.player.four42A#player1 {
  top: 47.3%;
  left: 5%;
}

.player.four42A#player2 {
  top: 30.6%;
  left: 18%;
}

.player.four42A#player3 {
  top: 62%;
  left: 18%;
}

.player.four42A#player4 {
  top: 13.3%;
  left: 21%;
}

.player.four42A#player5 {
  top: 78.6%;
  left: 21%;
}

.player.four42A#player6 {
  top: 40%;
  left: 33%;
}

.player.four42A#player7 {
  top: 55.3%;
  left: 33%;
}

.player.four42A#player8 {
  top: 13.3%;
  left: 62%;
}

.player.four42A#player9 {
  top: 78.6%;
  left: 62%;
}

.player.four42A#player10 {
  top: 33.3%;
  left: 75%;
}

.player.four42A#player11 {
  top: 59.3%;
  left: 75%;
}

.player.four33A#player1 {
  top: 47.3%;
  left: 5%;
}

.player.four33A#player2 {
  top: 30.6%;
  left: 18%;
}

.player.four33A#player3 {
  top: 62%;
  left: 18%;
}

.player.four33A#player4 {
  top: 13.3%;
  left: 21%;
}

.player.four33A#player5 {
  top: 78.6%;
  left: 21%;
}

.player.four33A#player6 {
  top: 47.3%;
  left: 31.5%;
}

.player.four33A#player7 {
  top: 61.3%;
  left: 59%;
}

.player.four33A#player8 {
  top: 33.3%;
  left: 59%;
}

.player.four33A#player9 {
  top: 78.6%;
  left: 75%;
}

.player.four33A#player10 {
  top: 13.3%;
  left: 75%;
}

.player.four33A#player11 {
  top: 47.3%;
  left: 75%;
}

.player.three43A#player1 {
  top: 47.3%;
  left: 5%;
}

.player.three43A#player2 {
  top: 47.3%;
  left: 18%;
}

.player.three43A#player3 {
  top: 62%;
  left: 18%;
}

.player.three43A#player4 {
  top: 30.6%;
  left: 18%;
}

.player.three43A#player5 {
  top: 78.7%;
  left: 50%;
}

.player.three43A#player6 {
  top: 13.3%;
  left: 50%;
}

.player.three43A#player7 {
  top: 55.3%;
  left: 33%;
}

.player.three43A#player8 {
  top: 40%;
  left: 33%;
}

.player.three43A#player9 {
  top: 59.3%;
  left: 65.5%;
}

.player.three43A#player10 {
  top: 34.7%;
  left: 65.5%;
}

.player.three43A#player11 {
  top: 47.3%;
  left: 75%;
}

.player.three52A#player1 {
  top: 47.3%;
  left: 5%;
}

.player.three52A#player2 {
  top: 47.3%;
  left: 18%;
}

.player.three52A#player3 {
  top: 62%;
  left: 18%;
}

.player.three52A#player4 {
  top: 30.6%;
  left: 18%;
}

.player.three52A#player5 {
  top: 78.7%;
  left: 50%;
}

.player.three52A#player6 {
  top: 13.3%;
  left: 50%;
}

.player.three52A#player7 {
  top: 55.3%;
  left: 33%;
}

.player.three52A#player8 {
  top: 40%;
  left: 33%;
}

.player.three52A#player9 {
  top: 47.3%;
  left: 62%;
}

.player.three52A#player10 {
  top: 33.3%;
  left: 75%;
}

.player.three52A#player11 {
  top: 59.3%;
  left: 75%;
}

.player.five32A#player1 {
  top: 47.3%;
  left: 5%;
}

.player.five32A#player2 {
  top: 47.3%;
  left: 18%;
}

.player.five32A#player3 {
  top: 62%;
  left: 18%;
}

.player.five32A#player4 {
  top: 30.6%;
  left: 18%;
}

.player.five32A#player5 {
  top: 78.6%;
  left: 21%;
}

.player.five32A#player6 {
  top: 13.3%;
  left: 21%;
}

.player.five32A#player7 {
  top: 47.3%;
  left: 31.5%;
}

.player.five32A#player8 {
  top: 33.3%;
  left: 59%;
}

.player.five32A#player9 {
  top: 61.3%;
  left: 59%;
}

.player.five32A#player10 {
  top: 33.3%;
  left: 75%;
}

.player.five32A#player11 {
  top: 59.3%;
  left: 75%;
}

.player.five41A#player1 {
  top: 47.3%;
  left: 5%;
}

.player.five41A#player2 {
  top: 47.3%;
  left: 18%;
}

.player.five41A#player3 {
  top: 62%;
  left: 18%;
}

.player.five41A#player4 {
  top: 30.6%;
  left: 18%;
}

.player.five41A#player5 {
  top: 78.6%;
  left: 21%;
}

.player.five41A#player6 {
  top: 13.3%;
  left: 21%;
}

.player.five41A#player7 {
  top: 40%;
  left: 33%;
}

.player.five41A#player8 {
  top: 55.3%;
  left: 33%;
}

.player.five41A#player9 {
  top: 78.7%;
  left: 50%;
}

.player.five41A#player10 {
  top: 13.3%;
  left: 50%;
}

.player.five41A#player11 {
  top: 47.3%;
  left: 75%;
}

.player.four231B#player20 {
  top: 47.3%;
  left: 90%;
}

.player.four231B#player21 {
  top: 30.6%;
  left: 77%;
}

.player.four231B#player22 {
  top: 62%;
  left: 77%;
}

.player.four231B#player23 {
  top: 13.3%;
  left: 74%;
}

.player.four231B#player24 {
  top: 78.6%;
  left: 74%;
}

.player.four231B#player25 {
  top: 40%;
  left: 62%;
}

.player.four231B#player26 {
  top: 55.3%;
  left: 62%;
}

.player.four231B#player27 {
  top: 13.3%;
  left: 33%;
}

.player.four231B#player28 {
  top: 78.6%;
  left: 33%;
}

.player.four231B#player29 {
  top: 47.3%;
  left: 33%;
}

.player.four231B#player30 {
  top: 47.3%;
  left: 20%;
}

.player.four42B#player20 {
  top: 47.3%;
  left: 90%;
}

.player.four42B#player21 {
  top: 30.6%;
  left: 77%;
}

.player.four42B#player22 {
  top: 62%;
  left: 77%;
}

.player.four42B#player23 {
  top: 13.3%;
  left: 74%;
}

.player.four42B#player24 {
  top: 78.6%;
  left: 74%;
}

.player.four42B#player25 {
  top: 40%;
  left: 62%;
}

.player.four42B#player26 {
  top: 55.3%;
  left: 62%;
}

.player.four42B#player27 {
  top: 13.3%;
  left: 33%;
}

.player.four42B#player28 {
  top: 78.6%;
  left: 33%;
}

.player.four42B#player29 {
  top: 33.3%;
  left: 20%;
}

.player.four42B#player30 {
  top: 59.3%;
  left: 20%;
}

.player.four33B#player20 {
  top: 47.3%;
  left: 90%;
}

.player.four33B#player21 {
  top: 30.6%;
  left: 77%;
}

.player.four33B#player22 {
  top: 62%;
  left: 77%;
}

.player.four33B#player23 {
  top: 13.3%;
  left: 74%;
}

.player.four33B#player24 {
  top: 78.6%;
  left: 74%;
}

.player.four33B#player25 {
  top: 47.3%;
  left: 63.5%;
}

.player.four33B#player26 {
  top: 61.3%;
  left: 36%;
}

.player.four33B#player27 {
  top: 33.3%;
  left: 36%;
}

.player.four33B#player28 {
  top: 78.6%;
  left: 20%;
}

.player.four33B#player29 {
  top: 13.3%;
  left: 20%;
}

.player.four33B#player30 {
  top: 47.3%;
  left: 20%;
}

.player.three43B#player20 {
  top: 47.3%;
  left: 90%;
}

.player.three43B#player21 {
  top: 47.3%;
  left: 77%;
}

.player.three43B#player22 {
  top: 62%;
  left: 77%;
}

.player.three43B#player23 {
  top: 30.6%;
  left: 77%;
}

.player.three43B#player24 {
  top: 78.7%;
  left: 45%;
}

.player.three43B#player25 {
  top: 13.3%;
  left: 45%;
}

.player.three43B#player26 {
  top: 55.3%;
  left: 62%;
}

.player.three43B#player27 {
  top: 40%;
  left: 62%;
}

.player.three43B#player28 {
  top: 59.3%;
  left: 29.5%;
}

.player.three43B#player29 {
  top: 34.7%;
  left: 29.5%;
}

.player.three43B#player30 {
  top: 47.3%;
  left: 20%;
}

.player.three52B#player20 {
  top: 47.3%;
  left: 90%;
}

.player.three52B#player21 {
  top: 47.3%;
  left: 77%;
}

.player.three52B#player22 {
  top: 62%;
  left: 77%;
}

.player.three52B#player23 {
  top: 30.6%;
  left: 77%;
}

.player.three52B#player24 {
  top: 78.7%;
  left: 45%;
}

.player.three52B#player25 {
  top: 13.3%;
  left: 45%;
}

.player.three52B#player26 {
  top: 55.3%;
  left: 62%;
}

.player.three52B#player27 {
  top: 40%;
  left: 62%;
}

.player.three52B#player28 {
  top: 47.3%;
  left: 33%;
}

.player.three52B#player29 {
  top: 33.3%;
  left: 20%;
}

.player.three52B#player30 {
  top: 59.3%;
  left: 20%;
}

.player.five32B#player20 {
  top: 47.3%;
  left: 90%;
}

.player.five32B#player21 {
  top: 47.3%;
  left: 77%;
}

.player.five32B#player22 {
  top: 62%;
  left: 77%;
}

.player.five32B#player23 {
  top: 30.6%;
  left: 77%;
}

.player.five32B#player24 {
  top: 78.6%;
  left: 74%;
}

.player.five32B#player25 {
  top: 13.3%;
  left: 74%;
}

.player.five32B#player26 {
  top: 47.3%;
  left: 63.5%;
}

.player.five32B#player27 {
  top: 33.3%;
  left: 36%;
}

.player.five32B#player28 {
  top: 61.3%;
  left: 36%;
}

.player.five32B#player29 {
  top: 33.3%;
  left: 20%;
}

.player.five32B#player30 {
  top: 59.3%;
  left: 20%;
}

.player.five41B#player20 {
  top: 47.3%;
  left: 90%;
}

.player.five41B#player21 {
  top: 47.3%;
  left: 77%;
}

.player.five41B#player22 {
  top: 62%;
  left: 77%;
}

.player.five41B#player23 {
  top: 30.6%;
  left: 77%;
}

.player.five41B#player24 {
  top: 78.6%;
  left: 74%;
}

.player.five41B#player25 {
  top: 13.3%;
  left: 74%;
}

.player.five41B#player26 {
  top: 40%;
  left: 62%;
}

.player.five41B#player27 {
  top: 55.3%;
  left: 62%;
}

.player.five41B#player28 {
  top: 78.7%;
  left: 45%;
}

.player.five41B#player29 {
  top: 13.3%;
  left: 45%;
}

.player.five41B#player30 {
  top: 47.3%;
  left: 20%;
}

.container {
  width: 200px;
  height: 200px;
  margin: 50px auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2, span {
  display: block;
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  margin: 0;
  border: 1px solid white;
}

.formation__Menu {
  margin: 0;
}

.formation__backsMenu {
  position: relative;
  -webkit-transform: scaleY(0%);
          transform: scaleY(0%);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.formation__backsMenu.inview {
  -webkit-transform: none;
          transform: none;
}

.formation__threeB {
  position: absolute;
  z-index: 1000;
  height: 50px;
}

.formation__threeB > ul {
  -webkit-transform: scaleY(0%);
          transform: scaleY(0%);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.formation__threeB.inview > ul {
  -webkit-transform: none;
          transform: none;
}

.formation__fourB {
  position: absolute;
  top: 50px;
  z-index: 900;
  height: 50px;
}

.formation__fourB > ul {
  -webkit-transform: scaleY(0%);
          transform: scaleY(0%);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.formation__fourB.inview > ul {
  -webkit-transform: none;
          transform: none;
}

.formation__fiveB {
  position: absolute;
  top: 100px;
  z-index: 800;
  height: 50px;
}

.formation__fiveB > ul {
  -webkit-transform: scaleY(0%);
          transform: scaleY(0%);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.formation__fiveB.inview > ul {
  -webkit-transform: none;
          transform: none;
}

.movable, .ball, .player {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.config {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  background-color: gray;
  position: relative;
  z-index: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.field {
  position: relative;
  background-image: url(image/fieldImage.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 1000px;
  height: 780px;
  margin: 0 auto;
  border: none;
  z-index: 100;
}

.ball {
  width: 50px;
}

.ball img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ball.mouseDowned {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.player {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.player__icon {
  height: 50px;
  width: 50px;
  border-radius: 50% 50%;
  margin: auto;
  text-align: center;
  line-height: 40px;
  pointer-events: none;
}

.player.mouseDowned {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: none;
  transition: none;
}

.player__name {
  width: 60px;
  text-align: center;
  background-color: transparent;
  font-size: x-small;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.playerSet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 200px;
  top: 55px;
  z-index: -100;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0 0 0;
}

.playerSet__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  width: 100%;
  padding-bottom: 10px;
}

.playerSet__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.playerSet__num--title {
  width: 34px;
  height: 21px;
  border-radius: 2px;
  border: none;
  font-size: small;
  margin-right: 2px;
}

.playerSet__name--title {
  width: 153px;
  height: 21px;
  border-radius: 2px;
  border: none;
  font-size: small;
}

.playerSet__button {
  width: 93%;
}

#player1 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player2 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player3 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player4 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player5 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player6 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player7 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player8 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player9 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player10 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player11 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player12 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player13 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player14 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player15 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player16 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player17 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player18 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player19 > .player__icon {
  background-color: rgba(0, 0, 255, 0.7);
  border: 3px solid silver;
  color: white;
}

#player20 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player21 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player22 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player23 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player24 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player25 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player26 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player27 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player28 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player29 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player30 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player31 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player32 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player33 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player34 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player35 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player36 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player37 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}

#player38 > .player__icon {
  background-color: rgba(255, 0, 0, 0.7);
  border: 3px solid silver;
  color: white;
}
/*# sourceMappingURL=style.css.map */